%h3.text-center DECLARATION

.col-sm-12
  .row
  .col-sm-6
    %br
    %p
    I, #{@affidavit.name} (Name)
    %br
    %br
    Address: #{@affidavit.address}
    %br
    %br
    %p
    travelling in vehicle number #{@affidavit.vehicle_no}
    %br
    %br
    %p
    I am going along with #{@affidavit.accompanying_person}
    %br
    %br
    %p
    to #{@affidavit.place} (place)
    %br
    %br
    %p
    for the purpose of #{@affidavit.purpose} (purpose)
    %br
    %br
    %p
    which is unavoidable.
    i will return back on #{@affidavit.return_date}. (Date)
    %br
    %br
    signature:
    %br
    %br
    name:
    %br
    mobile no.:
    %br
    Date:
    %br
    Place:
    %br
    Time:


